.aws-btn {
  --button-default-height: 100px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 50px;
  --button-horizontal-padding: 35px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: #1e88e5;
--button-primary-color-dark: #1360a4;
--button-primary-color-light: #ffffff;
--button-primary-color-hover: #187bd1;
--button-primary-border: none;
--button-secondary-color: #f2f6f9;
--button-secondary-color-dark: #1360a4;
--button-secondary-color-light: #1e88e5;
--button-secondary-color-hover: #e1eaf1;
--button-secondary-border: 2px solid #1e88e5;
--button-anchor-color: #0e4f88;
--button-anchor-color-dark: #072743;
--button-anchor-color-light: #ffffff;
--button-anchor-color-hover: #0d4a7f;
--button-anchor-border: none;
  }